<!DOCTYPE html>
<html>
<head>
  <title>Faucet</title>
  <%= stylesheet_link_tag    "faucet/application" %>
  <%= javascript_include_tag "faucet/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="content">
		<%= yield %>
	</div>
</body>
</html>
